<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "signup_suite">
    <parameter name = "platformName" value="android"/>
    <test name = "guest_signup">
        <package>
            <class name = "com.test.android" />
        </package>
    </test>
</suite>